
session/week1/html/
session/week2/html/
session/week3/html/
session/week4/html/

# for macOS
.DS_Store

# for VSCode
.vscode/

# Node.js
**/node_modules/

# Environment files
**/.env
**/.env.local
**/.env.committee-*
**/.env.committee.role
