version: "3.9"

services:
  # committee:
  #   build:
  #     context: .
  #     dockerfile: docker/committee.Dockerfile
  #   env_file: .env.committee
  #   ports:
  #     - "4001:4000"
  #   depends_on:
  #     - redis

  license-web:
    build:
      context: .
      dockerfile: docker/web.Dockerfile
    env_file: .env.license
    ports:
      - "3000:3000"

  contracts-node:
    build:
      context: .
      dockerfile: docker/contracts.Dockerfile
    env_file:
      - .env.license
    ports:
      - "8545:8545"
    restart: unless-stopped

  # relayer:
  #   profiles: ["relayer"]
  #   build:
  #     context: .
  #     dockerfile: docker/relayer.Dockerfile
  #   env_file: .env.relayer
  #   ports:
  #     - "4000:4000"
