version: "3.9"

services:
  committee:
    build:
      context: .
      dockerfile: docker/committee.Dockerfile
    env_file: .env.committee
    ports:
      - "4001:4000"
    depends_on:
      - redis

  license-web:
    build:
      context: .
      dockerfile: docker/web.Dockerfile
    env_file: .env.license
    ports:
      - "3000:3000"
    depends_on:
      - committee

  # relayer:
  #   profiles: ["relayer"]
  #   build:
  #     context: .
  #     dockerfile: docker/relayer.Dockerfile
  #   env_file: .env.relayer
  #   ports:
  #     - "4000:4000"

  redis:
    image: redis:7
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data

volumes:
  redis-data:
